@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.button {
    display: flex;
    height: 2.5em;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: #ff9ee6;
    color: black;
    outline: 1.33px solid black;
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
}

.operator {
    background-color: #e2a0ff;
    color: purple;
}