@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.clear-btn {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    font-size: 1.9rem;
    outline: 1px solid #888;
    height: 2.8em;
    background-color: #fff;
    font-family: 'Amatic SC', cursive;
}