@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.input {
    display: flex;
    height: 2em;
    flex: 1;
    background-color: #ff33ff;
    outline: 1px solid #888;
    color: #fff;
    justify-content: flex-end;
    padding: 0.5em;
    font-weight: bold;
    font-size: 2em;
    align-items: center;
    font-family: 'Amatic SC', cursive;
}